[Desktop Entry]
Name=exwm
# Comment=Emacs Window Manager
# Exec=sh /home/srolisp/.emacs.d/exwm/start-exwm.sh
# TryExec=sh
Exec=emacs
Type=Application
